
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.header{
    margin-top: 1rem;
    color:black;
    border-bottom: 2px solid black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}

button{
    background-color: red;
    color: white;
    width: 150px;
    height: 35px;
    border-radius:4px;
    padding: 0.2rem;
   margin-left: 700px;
   margin-top: 300px;
}

p{
    margin-left: 76rem;
    margin-top: 0.2em;
    font-size: larger;
}
#bg{
    height: 100vh;
}